a {
    text-decoration: none;
}

body {
    background-color: #1D1B27;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}


.topbar {
    height: 50px;
    width: 100%;
    /* border: 2px solid red; */
    background-color: #1D1B27;
    position: fixed;
    top: 0;
    z-index: 10;
}

/* Navbar Starts*/

.namecon {
    padding-left: 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    padding-bottom: 43px;
}

.Name {
    color: aliceblue;
    font-size: 18px;
    width: 60%;
}

.devspan {
    color: rgb(255, 0, 55);
    letter-spacing: 1px;
}

.rightcon {
    width: 40%;
    /* border: 2px solid green; */
}

.navbar {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navitem {
    color: white;
}

.menuicon {
    display: none;
}

.closeicon {
    display: none;
}

.navbar a {
    position: relative;
    text-decoration: none;
    /* font-family: 'Poppings', sans-serif; */
    padding: 0 10px;
}

.navbar a:after {
    content: "";
    position: absolute;
    background-color: rgb(255, 0, 128);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 15px;
    transition: 0.3s;
}

.navbar a:hover:after {
    width: 100%;
}

/* Navbar Ends*/

.page {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Home Starts*/

.maincon {
    /* border: 2px solid red; */
    /* height: 50vh; */
    /* width: 95%; */
    /* margin-left: 2.5%; */
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.maincon .leftcon {
    /* border: 2px solid gray; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.maincon .leftcon .Name {
    font-size: 25px;
    margin-left: -10%;
}

.maincon .leftcon .roleim {
    font-size: 23px;
    width: 70%;
    opacity: 0.8;
}

.maincon .leftcon .role {
    color: red;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px;
}

.maincon .leftcon .self {
    font-size: 23px;
    width: 70%;
    /* margin-left: 25%; */
    opacity: 0.5;
}

.maincon .rightcon {
    /* border: 2px solid green; */
    height: 100%;
    width: 50%;
}


.maincon .rightcon .pic {
    height: 50vh;
    width: 50vh;
    border-radius: 49% 52% 49% 52% / 26% 24% 76% 74%;
    margin-left: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Assects/Profile.png");
}

/* Home Ends*/

/* About Starts*/

.About-main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.About {
    display: flex;
    flex-direction: column;
    /* padding-top: 19px; */
}

.About-main .page {
    justify-content: start;
    height: auto;
}


.About .maincon {
    margin-top: 50px;
    margin-left: -10px;
    flex-direction: row;
    display: flex;
}

.About .maincon .aboutleftcon {
    width: 50%;
}

.About .maincon .about-pic {
    width: 320px;
    margin-left: 25%;
    height: 320px;
    border-radius: 20px;
    background-image: url("../Assects/Profile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.About .maincon .aboutrightcon {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.About .maincon .aboutrightcon .about-self {
    font-size: 18px;
    width: 60%;
    /* margin-left: 20%; */
}

.About .maincon .aboutrightcon .moreinfocon {
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.About .maincon .aboutrightcon .moreinfocon .moreinfoitem {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.About .maincon .aboutrightcon .moreinfocon .moreinfoitem .count {
    font-size: 30px;
    font-weight: 800;
    height: 50px;
    margin-top: -10px;
}

.About .maincon .aboutrightcon .moreinfocon .moreinfoitem .countinfo {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    width: 60%;
    display: flex;
    align-items: center;
    text-align: center;
}

/* About Ends*/


/* Skills Start*/

.Skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.Skills .subtitle {
    margin-top: 60px;
}

.Skills .Skill-main {
    /* border: 2px solid green; */
    height: 90%;
    width: 90%;
}

.Skills .Skill-main .Topcon {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Skills .Skill-main .Bottomcon {
    /* border: 2px solid pink; */
    width: 100%;
    margin-top: 2%;
    height: 48%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Skilitemcon {
    /* border: 2px solid white; */
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.skillimg {
    height: 125px;
    width: 130px;
    margin-top: 10px;
}

.skilltxt {
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 10px;
}

/* Skills Ends*/


/* Contact Me Starts */
.Contactme {
    /* border: 2px solid red; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.Contactme .Maincon {
    /* border: 2px solid green; */
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Contactme .Maincon .Leftcon {
    /* border: 2px solid yellow; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}



.Contactme .Maincon .Rightcon {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

.Contactme .Maincon .Leftcon .Itemcon {
    /* border: 2px solid pink; */
    margin: 10px;
    width: 100%;
    margin-left: 15px;
}

.Contactme .Maincon .Leftcon .Itemcon .Title {
    color: white;
    font-size: 20px;
    padding: 0 0px;
    /* border: 2px solid white; */
    font-weight: 600;
}

.Contactme .Maincon .Leftcon .Itemcon .Subtitle {
    color: white;
    opacity: 0.5;
    font-size: 14px;
    padding: 0 0px;
    /* border: 2px solid white; */
    margin-top: -20px;
    font-weight: 300;
}

.Contactme .Maincon .Rightcon form {
    /* border: 2px solid green; */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Contactme .Maincon .Rightcon .Name {
    border: 1px solid gray;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    background-color: transparent;
    font-size: 16px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.Contactme .Maincon .Rightcon .Email {
    border: 1px solid gray;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    margin-top: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.Contactme .Maincon .Rightcon .Message {
    border: 1px solid gray;
    /* height: 30px; */
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    background-color: transparent;
    font-size: 16px;
    margin-top: 15px;
    resize: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5px;

}

.Contactme .Maincon .Rightcon .Sendbtn {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: royalblue;
    color: white;
    font-size: 16px;
    font-weight: 200;
}

.Contactme .subtitle {
    margin-top: 60px;
}

.Addinfo {
    /* border: 2px solid red; */
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.cvbtncon {
    border: 2px solid gray;
    width: 140px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wbbtncon {
    border: 2px solid green;
    width: 140px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.wbbtncon .btntxt {
    font-size: 18px;
    color: green;
}

.cvbtncon .btntxt {
    color: white;
}

.Addinfo a {
    text-decoration: none;
}

.Maincon .Leftcon .infocon {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Maincon .Leftcon .infocon i{
    font-size: 30px;
}

/* Contact Me Starts */

.sdbtn1 {
    border: 2px solid red;
    height: 50px;
    width: 28px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home .sdbtncon {
    margin-top: -70px;
}

.sdbtncon {
    height: 50px;
    width: 28px;
    margin-top: 50px;
}


.vshape {
    border-left: 2px solid red;
    height: 10px;
    width: 10px;
    border-bottom: 3px solid red;
    border-radius: 2px;
    transform: rotate(-45deg);
    margin-top: -8px;
    top: 3px;
    position: relative;
    animation: move-down 1s ease-in-out infinite;
}


.vshape2 {
    border-left: 2px solid red;
    height: 10px;
    width: 10px;
    border-bottom: 3px solid red;
    border-radius: 2px;
    transform: rotate(-45deg);
    margin-top: -8px;
    top: 3px;
    position: relative;
    animation: move-down 1s ease-in-out infinite;
    animation-delay: .3s;
}

.Skills a {
    margin-top: 70px;

}


.Gotopcon {
    /* border: 2px solid red; */
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Gotopcon .Text {
    font-size: 16px;
}


.Gotopcon a {
    text-decoration: none;
    color: red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Gotopcon p {
    text-decoration: none;
    color: red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Gotopcon i {
    margin-right: 5px;
}

@keyframes move-down {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 80%;
    }
}

.footer {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .Text {
    color: white;
    font-size: 18px;
}

.footer .Text .Name {
    color: red;
    font-size: 18px;
}


@media only screen and (min-width : 769px) {

    .Contactme {
        height: 100vh;
    }

    .Botombar {
        display: none;
    }
}

@media only screen and (max-width : 768px) {
    .Home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Home .sdbtncon {
        margin-top: 50px;
    }

    .sdbtncon {
        width: 28px;
        height: 50px;
    }

    .menuicon {
        display: flex;
        padding-left: 80%;
        padding-top: 5%;
        color: white;
        font-size: 23px;
    }

    .maincon .leftcon .Name {
        font-size: 20px;
    }

    .maincon .leftcon .self {
        font-size: 18px;
    }

    .closeicon {
        display: flex;
        /* padding-left: 35%; */
        padding-top: 4%;
        color: red;
        font-size: 28px;
        margin-left: -35px;
        display: none;
    }

    .rightcon {
        display: flex;
        flex-direction: row;
        width: 40%;
    }

    .navbar {
        display: none;
    }

    .Botombar {
        /* border: 2px solid red; */
        height: 60px;
        width: 100%;
        bottom: -15px;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        z-index: 10;
        background-color: #1D1B27;
    }

    .itemcon {
        /* border: 2px solid green; */
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Botombar .itemcon i {
        font-size: 30px;
    }

    .Botombar .itemcon a {
        color: white;
        text-decoration: none;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .Botombar .itemcon .title {
        font-size: 14px;
        margin-top: 0px;
    }

    a {
        width: 65%;
        text-decoration: none;
    }

    .navbar a:hover:after {
        width: 0%;
    }


    .maincon {
        flex-direction: column;
        /* margin-top: 30%; */
    }


    .About-main {
        height: auto;
    }

    .maincon .leftcon {
        width: 100%;
        align-items: center;
    }

    .maincon .rightcon {
        width: 100%;
        align-items: center;
        /* margin-left: -20px; */
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .maincon .rightcon .pic {
        height: 40vh;
        width: 40vh;
        border: 2px solid;
        margin-left: 0%;
    }

    .Contdiv {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 100px;
    }

    .contactbtn {
        margin-top: 0px;
        margin-left: 0px;
        /* padding-right: -120px; */
    }

    .About {
        margin-top: 100px;
        height: 120vh;
    }

    .About .maincon {
        flex-direction: column;
        height: auto;
    }

    .About .maincon .aboutrightcon {
        width: 100%;
    }

    .About .maincon .aboutleftcon {
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .About .maincon .about-pic {
        height: 250px;
        width: 250px;
        margin-left: 0%;
        border: 2px solid;
    }

    .About .maincon .aboutrightcon .about-self {
        font-size: 16px;
    }

    .About .maincon .aboutrightcon .moreinfocon .moreinfoitem .count {
        font-size: 22px;
    }

    .About .maincon .aboutrightcon .moreinfocon .moreinfoitem .countinfo {
        font-size: 10px;
    }


    /* Skill Start */



    .Skills .Skill-main {
        margin-top: 20px;

    }

    .Skills .Skill-main .Topcon {
        flex-direction: column;
    }

    .Skilitemcon {
        padding: 20px;
        width: 100%;
    }

    .skilltxt {
        font-size: 18px;
    }

    .Skills .Skill-main .Bottomcon {
        flex-direction: column;
    }

    .Contactme .Maincon {
        flex-direction: column;
    }

    .Contactme .Maincon .Leftcon {
        width: 100%;
    }

    .Contactme .Maincon .Rightcon {
        width: 100%;
    }

    .Contactme .Maincon .Rightcon .Sendbtn {
        font-size: 14px;
        font-weight: 400;
    }

    .Addinfo {
        font-size: 14px;
        margin-bottom: 50px;
    }

    .cvbtncon {
        width: 160px;
        height: 40px;
    }

    .wbbtncon {
        width: 160px;
        height: 40px;
    }

    .wbbtncon a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cvbtncon a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Gotopcon {
        margin-top: 30px;
        margin-bottom: 30px;
    }

}